<meta name="viewport" content="width=device-width, initial-scale=1">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/thread.css">
    <title>Error</title>
    <style>
      .button {
  font: bold 14px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  background-color: #116466;
  color: #D1E8E2;
  padding: 3px 6px 3px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

    </style>
</head>
<body>
    <!-- Ylävalikon ja nimibannerin asettelu-->
    <div class="inbody">

        <div class= "home_header">
            <h1>FactForum</h1>
            {% if session.user_id %}
                <p>You are logged in.</p>
            {% endif %}
        </div>
    
             <div class="topbar">
            {% if session.user_id %}
                <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/home">Home</a></li> 
                <li><a href="/new">Create a thread</a></li>
                {% if adminstatus %}
                    <li><a href="/newcategory">Add a category</a></li>
                    <li><a href="/salainenalue">Moderator site</a></li>
                {% endif %}
                </ul>
            {% else %}
                <ul>
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>    
                <li><a href="/home">Home</a></li> 
                </ul>
                </div>
        </div>
    
    {% endif %}
<!--Parametrina saatu virheviesti renderöidään ja jätetään linkki etusivulle palaamiseen-->
    Error: {{message}} <br><br>
    <a href="/home"style="color: #D1E8E2;" class="button"> Back to homepage</a>


    
</body>
</html>