<h1>Tervetuloa keskustelusovellukseen</h1>
<hr>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/new">Lähetä viesti</a> | <a href="/logout">Kirjaudu ulos</a>

{% else %}
<a href="/login">Kirjaudu sisään</a><br>
Tai jos sinulla ei ole tunnusta, voit rekisteröityä <a href="/register">täältä</a>.
{% endif %}
<hr>
<h2>Aiheet: </h2>
{% for category in categories %}
<a href="/{{category[0]}}">{{category[1]}}</a>
<hr>
{% endfor %}
<h3>Kaikki viestit: </h3>
Viestien määrä: {{ count }}
<hr>

{% for message in messages %}
<i>Aihe: </i> {{message[0]}}
<p>
<i>Otsikko:</i> {{ message[1] }}
<p>
<i>Viesti: </i> {{message[2]}}
<p>
<i>Lähettäjä: </i> {{ message[3] }}
<p>
<i>Aika: </i> {{ message[4].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<hr>
{% endfor %}



{% if adminstatus %}

<h3>Hei moderaattori!</h3>
<a href="/newcategory">Lisää uusi keskusteluaihe</a>
<br>
<a href="/salainenalue">Moderaattorien salainen keskustelualue</a>
Tämän pitäisi näkyä vaan admineille
{% endif %}