<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/start.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Welcome</title>
</head>
<body>
<div class="wrapper">
    <div class ="header">
        <h1><b>FactForum</b></h1>
        <h3>All these languages and you chose to speak facts</h3>
        <div class="startbar">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/home">Explore as a visitor</a></li>
                
            </ul>
        </div>
    </div>
</div>
    
    
</body>
</html>