<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/thread.css">
    <title>Send a message</title>
</head>
<body>
    <!-- Ylävalikon ja nimibannerin asettelu-->
    <div class="inbody">

        <div class= "home_header">
            <h1>Welcome to FactForum</h1>
            {% if session.user_id %}
                <p>You are logged in.</p>
            {% endif %}
        </div>

             <div class="topbar">
            {% if session.user_id %}
                <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/home">Home</a></li> 
                <li><a href="/new">Create a thread</a></li>
                {% if adminstatus %}
                    <li><a href="/newcategory">Add a category</a></li>
                    <li><a href="/salainenalue">Moderator site</a></li>
                {% endif %}
                </ul>
            {% else %}
                <ul>
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>    
                <li><a href="/home">Home</a></li> 
                </ul>
                </div>
        </div>

    {% endif %}
    
    
    
    <h2>{{category_name}}</h2>
    <div class= "starting_thread">
        
        <h3>{{ starting_thread[1] }}</h3>
    
        {{ starting_thread[2] }}<br>
        <p style="font-size:smaller">Sent by: {{ starting_thread[4] }}</p>
        <p style="font-size: smaller;">Thread created: {{ starting_thread[3].strftime("%Y-%m-%d %H:%M:%S") }}</p>
        {% if starting_thread[5]==session.user_id %}
        <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/delete_thread/{{starting_thread[5]}}" class="button">Delete your thread here</a>
        <br><br>
        <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/modify_thread/{{starting_thread[5]}}" class="button">Modify your thread here</a>
        {% else %}
        {% if adminstatus %}
        <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/delete_thread/{{starting_thread[5]}}" class="button">Delete this thread here</a>
        <br><br>

        {% endif %}
        {% endif %}

      </div>
        
    <h3>Comments:</h3>
    <hr>
        {% for thread_message in thread_messages %}
        <b> {{thread_message[0]}} </b>
        <p>
        {{ thread_message[1] }}
        <p>
        Sent by: {{ thread_message[3] }}
        <p>
        Sent at: {{ thread_message[5].strftime("%Y-%m-%d %H:%M:%S") }}
        <p>
        <!--Jos viesti on oma tekemä näkee linkit viestin muokkaukseen tai poistoon-->
        {% if thread_message[4]==session.user_id %}
            <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/delete/{{thread_message[4]}}" class="button">Delete your message here</a>
            <br><br>
            <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/modify/{{thread_message[4]}}" class="button">Modify your message here</a>
          {% else %}
          {% if adminstatus %}
          <a href="/{{starting_thread[6]}}/{{starting_thread[0]}}/delete/{{thread_message[4]}}" class="button">Delete this message here</a>
          <br><br>

          {% endif %}
            {% endif %}
        <hr>

        {% endfor %}
    
       
        
            <!--Lomake viestin lisäämisestä ketjuun näytetään mikäli henkilö on kirjautunut-->
                <div class="form">
                    {% if session.user_id %}
                
                    <form action="/{{starting_thread[6]}}/{{starting_thread[0]}}" method="POST" onsubmit="return check(this)">
                    Comment
                    <br>
                    Message heading:<br> <textarea name="subject" rows="1" cols="40"></textarea>
                    <br>
                    Message (max 500 char.): <br>
                    <textarea name="content" rows="3" cols="40"></textarea>
                    <br>
                    <input type="submit" name="action" value="Comment" class="button" style="font-size: large;" >
                    </form>
                    <br>
                    <a href="/home" class="button"> Back to homepage</a>
                    <br>
                    <br>
                    <a href="/{{starting_thread[6]}}" class="button">Go back</a>
                    {% else %}
                    <h3 style="text-align: center;">You need to be logged in to comment</h3>
                    <br>
                    {% endif %}
                
                </div>
     
           
       
    <!--Tarkistetaan lähetettävän viestin sisältö-->
        <script>
            function check(form) {
              if (form.content.value.length<3){
                alert("Message has to be a minimum of 3 characters")
              }
                if (form.content.value.length > 500) {
                    alert("Message is too long");
                    return false;
                }
                if (form.subject.value.length<3){
                  alert("The heading has to be a minimum of 3 characteres")
                  return false;
                }
                if (form.subject.value.length>40){
                    alert("The heading is too long");
                    return false;
                }
                return true;
            }
        
        </script>
    
    
</body>
</html>



   

